h1 {
    font-size: 2em;
    text-align: center;
    text-decoration: blue underline;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    color: blue;
    background-color: rgba(0, 140, 255, 0.096);
}

h2 {
    font-family: fantasy;
    color:rgb(94, 7, 7)
}

p {
    text-align: justify;
    line-height: 1.5;
    color:rgb(53, 3, 3);
    background: rgba(255, 166, 0, 0.048);
}
