<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>Home Page</h1>
    <h2>EJS Node Templeting <%= 4 + 3 + 2 %>
    </h2>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure voluptas, iusto soluta, laborum dolore aut
        veritatis iste qui pariatur commodi magni libero tempore adipisci nihil facilis officia? Reiciendis, illum iure!
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam sint molestias reiciendis aut dignissimos. Ad
        alias quibusdam labore, maxime sed tempora possimus fuga ab reprehenderit quod placeat voluptates aliquid eaque.
    </p>

</body>

</html>